<% if activity.comments.any?%>	
	<% activity.comments.each do|comment|%>
		<div class="comments-partial">
			<span>
				<%=link_to (gravatar_for activity.user, {size: 35}), activity.user %>
			</span>
			<span class="content">
				<b><%=comment.user_id%></b>&nbsp;<%=comment.content%>
			</span>
			<span class="timestamp">
				Posted <%= time_ago_in_words(comment.created_at) %> ago.
				&nbsp;<%=link_to "Like",'#', remote:true%>
			</span>
		</div>
	<%end%>
<%end%>

