<% provide(:title, @user.username) %>
<div class="row">
    <aside class="span12">
      <section>
        <a href="<%= user_path(@user) %>">
          <%= gravatar_for @user %>
        </a>
        <h1>
          <%= @user.username %>
        </h1>
        <span>
          <%= pluralize(@user.activities.count, "activity") %>
        </span>
      </section>
    </aside>
</div><hr>
<div>
	<%= will_paginate @activities%>
          <div class="span12">
           <%= render partial:'activities/activity', locals: { nures: @activities }%>
          </div>
  <%= will_paginate @activities%>      
</div>



  