<% provide(:title, @user.username) %>
<div class="row">
  <aside>
    <section>
        <a href="<%= user_path(@user) %>">
          <%= gravatar_for @user %>
        </a>
        <h1>
          <%= @user.username %>
        </h1>
        <span>
          <%= pluralize(@user.activities.count, "activity") %>
        </span>
    </section><hr>
  </aside>
  <aside>
    <div>
      <% if @user.activities.any? %>
        <h3>Activities (<%= @user.activities.count %>)</h3><hr>
          <%= render partial:'activities/activity', locals:{nures:@activities} %>
        <%= will_paginate @activities %>
      <% end %>
    </div>
  </aside>
</div>



  