<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%=link_to image_tag("rails.png", size: '30x30', id: "logo"), root_path%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Activities", "" %></li>
          <li>
            <form class="form-search">
            <input type="text" class="input-medium search-query" placeholder="Search">
            <button type="submit" class="btn">Search</button>
            </form>
          </li>
          <% if !current_user%>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <%else%>

          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Find Friends", users_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :DELETE %></li>
          <%end%>
        </ul>
      </nav>
    </div>
  </div>
</header>